<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Jinja2 foo page!</h1> 

    {% import 'jj2app/base.html' as base %}
    {{base.coffeestore('1Downtown',1,'Horton Plaza','San Diego','CA','downtown@coffeehouse.com')}}

    {% from 'jj2app/base.html' import coffeestore as mycoffeestoremacro %}
    {{mycoffeestoremacro('2Downtown',1,'Horton Plaza','San Diego','CA','downtown@coffeehouse.com')}}
    <hr>

{% call base.contentlist() %}
  <ul>
    <li>This is my list</li>
  </ul>
{% endcall %}
<hr>

# variable definition<br>
{% set coffeestores=[{'id':0,'name':'Corporate','address':'624 Broadway','city':'San Diego',
'state':'CA','email':'corporate@coffeehouse.com'},{'id':1,'name':'Downtown','address':'Hort
on Plaza','city':'San Diego','state':'CA','email':'downtown@coffeehouse.com'},{'id':2,'name
':'Uptown','address':'1240 University Ave','city':'San Diego','state':'CA','email':'uptown@
coffeehouse.com'},{'id':3,'name':'Midtown','address':'784 W Washington St','city':'San Diego
','state':'CA','email':'midtown@coffeehouse.com'}] %}

# macro call/invocation<br>
{% call(item) base.contentlist(coffeestores) %}
    <a id="{{item.id}}"></a>
    <h4>{{item.name}}</h4>
    <p>{{item.address}} {{item.city}},{{item.state}}</p>
    {% if item.email %}<p><a href='mailto:{{item.email}}'>{{item.email}}</a></p>{% endif %}
{% endcall %}
<hr>

<h2>global_msg: {{global_msg}}</h2>
<img src="{{ static('baidu.png') }}" alt="Background">
<hr>

<h1>Syntax Demo:</h1>
{% set drinks = [{'name':'啤酒beer'}, {'name':'soda'},
 {'name':'雪花beer'}, {'name':'怡宝'}, {'name':'娃哈哈'}] %}
{% set drinks_on_sale=True %}
{#% if drinks >= 1 %#}
{% if drinks %}
    We have drinks!
{% elif drinks_on_sale %}
    We have drinks on sale!
{% else %}
    No drinks, sorry!
{% endif %}
<h3>for in drinks,length: {{ drinks|length }}</h3>
<ul>
    {% for drink in drinks|reverse %}
    <li>{{ loop.cycle('odd','even') }} : {{ drink.name }}</li>
    {% else %}
    <li>No drinks, sorry!</li>
    {% endfor %}
</ul>
<hr />
<h3>Groupby filter</h3>
{%
set stores = [
    {'name':'Downtown', 'street': '385 Main Street', 'city': 'San Diego'},
    {'name':'Uptown', 'street': '231 Highland Avenue', 'city': 'San Diego'},
    {'name':'Midtown', 'street': '85 Balboa Street', 'city': 'San Diego'},
    {'name':'Downtown', 'street': '639 Spring Street', 'city': 'Los Angeles'},
    {'name':'Midtown', 'street': '1407 Broadway Street', 'city': 'Los Angeles'},
    {'name':'Downton', 'street': '50 1st Street', 'city': 'San Francisco'},
] 
%}
<ul>
    {% for group in stores|groupby('city') %}
    <li>{{ group.grouper }}
        <ul>
            {% for item in group.list %}
            <li>{{ item.name }}: {{ item.street }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<h3>tojson filter:</h3>
<pre>
{{ stores|tojson }}
</pre>
<hr />
<pre>
{{ stores|tojson(indent=2) }}
</pre>
<hr><h3>字符串换行(e代表escape转义, safe代表不转义html标记) wordwrap:</h3>
{{ '中<br>Coffeehouse started as a small store'|e|wordwrap(12,true,'<br>')|safe }}

<hr>
<h3>自定义filter && test:</h3>
{{ '绿茶'|customcoffee }} <br>
{{ 2|squarerootintext }} <br>
{{ 'above'|startswithvowel }} <br>
{% set msg='o kitty is here' %}
{% if msg is startswithvowel %}
    '{{msg}}' is starts with vowel.
{% endif %}
</body>
</html>

